.hero {
    margin-top: var(--mobile-nav-height);
    background-image: url("../hero.jpg");
    background-position: center center;
    background-size: cover;
}

.hero .overlay {
    padding: 160px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero h1 {
    font-size: 54px;
    color: white;
    margin: 0;
}

@media (max-width: 600px) {
    header .overlay {
        padding: 290px 0 30px 0;
    }
}

.hero .content {
    max-width: 360px;
    color: #dfdfdf;
    font-size: 20px;
}

.hero .actions {
    display: flex;
}

.hero .actions a {
    display: block;
    padding: 16px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: white;
    text-decoration: none;
}

.hero .actions a.colored {
    background-color: #f7d9c4;
    color: black;
}