---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout
    title="Digital Help 2023 - soluciones tecnológicas, mantenimiento y reparación"
>
    <Hero />
    <main class="container">
        <section>
            <h2 id="info">
                Asistimos a las instituciones educativas en toda el área
                tecnológica
            </h2>
            <p>
                Digital Help es un emprendimiento que se ocupa de asistir a las
                instituciones educativas en toda el área de tecnología.
                Reparación, actualización, mantenimiento de equipos informáticos
                y demás dispositivos tecnológicos
            </p>
        </section>
        <section>
            <h2>Servicios</h2>
            <p>
                Digital Help se compromete a ofrecer soluciones creativas y
                escalables para todos. Todos nuestros clientes son únicos y
                nuestros servicios son altamente personalizables. Obtenga
                información sobre nuestra oferta y comuníquese con nosotros en
                caso de dudas o para programar una cita.
            </p>
            <div class="cards">
                <a
                    style="background-image: url('soporte-remoto.webp');"
                    href="servicios#soporte-remoto"
                >
                    <div class="overlay">
                        <h3>Soporte remoto</h3>
                    </div>
                </a>
                <a
                    style="background-image: url('reparacion.webp');"
                    href="servicios#reparacion"
                >
                    <div class="overlay">
                        <h3>Reparación</h3>
                    </div>
                </a>
                <a
                    style="background-image: url('software-educativo.webp');"
                    href="servicios#software-educativo"
                >
                    <div class="overlay">
                        <h3>Software educativo</h3>
                    </div>
                </a>
                <a
                    style="background-image: url('conectividad.webp');"
                    href="servicios#conectividad"
                >
                    <div class="overlay">
                        <h3>Conectividad</h3>
                    </div>
                </a>
                <a
                    style="background-image: url('robotica.webp');"
                    href="servicios#robotica"
                >
                    <div class="overlay">
                        <h3>Robótica</h3>
                    </div>
                </a>
                <a
                    style="background-image: url('capacitacion.jpg');"
                    href="servicios#capacitacion"
                >
                    <div class="overlay">
                        <h3>Capacitación</h3>
                    </div>
                </a>
            </div>
        </section>
    </main>
</Layout>
