---
import Layout from "../layouts/Layout.astro";
import "../styles/about.css";
---

<Layout title="Sobre nosotros">
    <main class="subpage container">
        <h1>Sobre nosotros</h1>
        <section>
            <div class="person">
                <img src="/sebastian.jpg" alt="Arístides Sebastián Cerezo" />
                <div>
                    <h2>Arístides Sebastián Cerezo</h2>
                    <ul>
                        <li>Licenciado en Tecnología educativa UTN</li>
                        <li>Profesor de Educación Primaria</li>
                        <li>Administrador de Redes Windows</li>
                        <li>
                            Más de 20 Años trabajando en el área de tecnología
                            educativa
                        </li>
                    </ul>
                </div>
            </div>
            <div class="person leo">
                <img src="/leonel.webp" alt="Arístides Sebastián Cerezo" />
                <div>
                    <h2>Leonel López</h2>
                    <ul>
                        <li>
                            Ingeniería Informática UTN (Cursando Tercer año)
                        </li>
                        <li>Técnico Electrónico UTN</li>
                        <li>Capacitador Róbotica UTN</li>
                        <li>
                            Más de diez años trabajando, reparando y facilitando
                            el acceso de la tecnología en instituciones
                            educativas
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</Layout>
