---
import Layout from "../layouts/Layout.astro";
import "../styles/about.css";
import "../styles/services.css";
---

<Layout title="Servicios">
    <main class="subpage container">
        <h1>Servicios</h1>
        <section class="services">
            <div>
                <img src="/soporte-remoto.webp" alt="" />
                <div>
                    <h2 id="soporte-remoto">Soporte Remoto</h2>
                    <p>Anydesk - Team Viewer -Whatsapp - Zoom</p>
                    <p>
                        Utilizamos herramientas digitales para mantener la
                        continuidad técnica virtual a través de Anydesk, Zoom,
                        Team Viewer, Whatsapp, etc.
                    </p>
                </div>
            </div>
            <div>
                <img src="/reparacion.webp" alt="" />
                <div>
                    <h2 id="reparacion">Reparación</h2>
                    <p>Revisión y diagnóstico</p>
                    <ul>
                        <li>PC</li>
                        <li>Notebook - Netbook</li>
                        <li>Tablet</li>
                        <li>Impresoras</li>
                        <li>Monitores - TV - LCD - LED</li>
                        <li>Proyectores</li>
                    </ul>
                </div>
            </div>
            <div>
                <img src="/software-educativo.webp" alt="" />
                <div>
                    <h2 id="software-educativo">Software Educativo</h2>
                    <p>Programas</p>
                    <ul>
                        <li>
                            Instalación de Software educativo para los alumnos
                        </li>
                        <li>Nuevas Herramientas y aplicaciones on-line</li>
                        <li>
                            Seguridad Digital (bloqueo de páginas y redes
                            sociales)
                        </li>
                        <li>Capacitación a Docentes</li>
                    </ul>
                </div>
            </div>
            <div>
                <img src="/conectividad.webp" alt="" />
                <div>
                    <h2 id="conectividad">Conectividad</h2>
                    <ul>
                        <li>
                            Instalación, y reparación de redes cableadas e
                            inalámbricas
                        </li>
                        <li>
                            Optimización de servidor de red y carpetas de
                            trabajo colaborativo
                        </li>
                        <li>Gestión de usuarios de red</li>
                        <li>WiFi Docentes y WiFi Alumnos</li>
                        <li>Modems, Routers, Switch, Hub, Access Point</li>
                    </ul>
                </div>
            </div>
            <div>
                <img src="/robotica.webp" alt="" />
                <div>
                    <h2 id="robotica">Robótica</h2>
                    <ul>
                        <li>Asesoramiento en equipos de robótica</li>
                        <li>Capacitación Docente</li>
                        <li>
                            Instalación de software de programación (scratch y
                            arduino, HTML)
                        </li>
                        <li>Diseño y armado de actividades</li>
                        <li>
                            Reciclado y reutilización de componentes
                            electrónicos
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</Layout>
