<div class="hero">
    <div class="overlay">
        <div class="container">
            <div class="content">
                <h1>Digital Help</h1>
                <p>
                    Soluciones escolares digitales. Soporte técnico on-site y
                    remoto
                </p>
                <div class="actions">
                    <a class="colored" href="servicios">Servicios</a>
                    <a href="contacto">Contacto</a>
                </div>
            </div>
        </div>
    </div>
</div>
