---
export interface Props {

}

import MenuIcon from '../components/MenuIcon.astro'

const options = [
    {href: '/', text: 'Inicio'},
    {href: '/nosotros', text: 'Sobre nosotros'},
    {href: '/servicios', text: 'Servicios'},
    {href: '/contacto', text: 'Contacto'},
]

const path = Astro.url.pathname.split('/').filter(segment => segment !== '').join('/')

function isCurrentPath(href: string) {
    href = href.split('/').filter(segment => segment !== '').join('/')
    return path === href
}
---

<nav>
    <a href="/" class="logo">
        <img src="/logo.webp" alt="Digital Help" height="82px" />
    </a>
    <!-- Mantiene el estado de si el menú está abierto o cerrado -->
    <!-- El estado se levanta desde css -->
    <input type="checkbox" id="menu" style="display: none" />
    <ul>
        {options.map(({href, text}) => <li><a href={href} class={isCurrentPath(href) ? 'current' : undefined}>{text}</a></li>)}
    </ul>
    <!-- Abre o cierra el menú modificando el estado del checkbox -->
    <label for="menu" class="trigger hide-on-desktop">
        <MenuIcon />
    </label>
</nav>
